/* 字体 */
@font-face {
    font-family: "DIN-Medium";
    src: url('assets/fonts/DIN-Medium.otf');
}
@font-face {
    font-family: "quartz-regular";
    src: url('assets/fonts/quartz-regular.ttf');
}
.font-DIN{
    font-family: "DIN-Medium";
}
.font-qua{
    font-family: "quartz-regular";
}
.tc{
    text-align: center;
}